@import "~bootstrap/scss/bootstrap";
@import "_partials/reset.scss";

body {
    background-color: #000000;
}

nav,
.card {
    background-color: #564d4d;
    color: white;
}

h1,
h2,
h3 {
    color: #831010;
}
